language: android
before_install:
  - echo "sdk.dir=$ANDROID_HOME" > local.properties
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
  - echo yes | sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout;1.0.2"
  - echo yes | sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout-solver;1.0.2"
android:
  components:
    - build-tools-26.0.1
    - android-26
  licenses:
    - android-sdk-license-.+
    - '.+'
install:
  - true
script:
  - ./gradlew assembleDebug --scan -s
deploy:
  provider: releases
  api_key:
    secure: "mWulTosYL0MqYg1SxMWi0VUcOWiWE/3Por1xeQay+YTEi9bK7buWA1xLH3n0JL+pv3d0vfqEFFrtMUSejHv9qBTOiClWPcV9Kad2ca0iCN5sL0HvjTdwgixLYvwNYczddt95PlOgSU1nXUkIdgIXdX9i7oAMBqOK9FWcnTPT1UuEJ+FPLXi5OkAv+4YG+v0ko5+bAgfxptHtJtOkYHLBoi+zqAiRPI8cFTHs39KyAn9gFRfESHAzMYw7te0+ClOtyQmjEkYNThT2LP6n0M3nzgk3VdOGoCLD+azwXrb5b5LWiPVc8fdk7ieuTSLa1ytuSQ325G5DolLkQncG+u3YUpFSVVPCZcCEF7bVwC9enYEJiIsQ8FEOzr6s/233ReiHV6BxK/YD5GQVTcLzCoa/x+4q0pPtia3jrOl+Jk9J1maxDE4FP7mhmie49fCw+6h762fEbrwkCCM6QiJc5BNuryOj6w9Ffrj/Z5yjsZE5ftH5MQTB6xXESwL98H90oWaRwme99KU07i/+j2motxJEcLnhnW3W79tQbQ5Uh1dWrcbltKGFT6V3YNpxVcqItmD4LRTjajZ99CTRVVjUW4GnwG26FnDOJe8zObRzr3IvUyyrcwMpjjjGIl6lIdiSuHZbU6KyFwDGo6+ZTs5dfTIGBqr+XdhTQ/lFNLJ9OBYf8j8="
  file: "app/build/outputs/apk/debug/app-debug.apk"
  skip_cleanup: true
  on:
    tags: true
    branch: master
    repo: AlvaroChambi/ipsych